@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --netflix-red: #E50914;
  --bg-black: #141414;
}

body {
  @apply bg-[#141414] text-white antialiased font-sans;
  overflow-x: hidden;
}

/* Custom scrollbar hiding */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}