@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0a0a0a;
}

body {
  @apply bg-focus-black text-white antialiased font-sans;
  overflow-x: hidden;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}